@{
    ViewBag.Title = "Home Page";
}
<div class="container">
<div class="text-center">
    <h1>Ласкаво просимо до нашого інтернет-магазину з продажу одягу!</h1>
    <p>У нас ви знайдете великий вибір якісного одягу за доступними цінами. Оновлюйте свій гардероб разом з нами!</p>
</div>
<div class="btn-group mx-auto w-100">
    <button class="btn btn-primary" onclick="location.href = '@Url.Action("Index", "Categories")'">Категорії</button>
    <button class="btn btn-primary" onclick="location.href = '@Url.Action("Index", "Clothes")'">Каталог товарів</button>
    <button class="btn btn-primary" onclick="location.href = '@Url.Action("SpecialOffers", "Home")'">Переглянути спец. пропозиції</button>
</div>
</div>